<!DOCTYPE html>
<html>
<head>
    <title>Greeting</title>
</head>
<body>
    <h1>Hi <%= name %>!</h1>
    <form action="/logout" method="post">
        <button type="submit">Logout</button>
      </form>
</body>
</html>
